$main-color: #446cb3;
$font-color: #ffffff;
$secon-font-color:#000000;

@mixin holder {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

}
@mixin middle{
  width: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  text-align: center;
}
@mixin bg-images {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
body{
  margin: 0px;
  padding: 0px;
}
.holder-one{
  @include holder;
  background-image: url(../images/wom1.jpg);
  @include bg-images;
  background-position: center;
  background-color: rgb(122, 176, 75);
  background-blend-mode: multiply;
}
.part-two-of-section{
  @include middle;
}
.holder-two{
  @include holder;
  background-color: $main-color;
}
.section-two-content-holder{
  @include middle;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.primary, .secondary, .third{
  @include column;
  padding: 20px;
  box-sizing: border-box;
}
.holder-three{
  @include holder;
  background-image: url(../images/DSC00270.png);
  @include bg-images;
}
.section-three-content-holder{
  @include middle;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.primary-img-holder{
  @include column;
  flex-direction: column;
}
.secondary-img-holder{
  @include column;
  flex-direction: column;
}
.holder-four{
  @include holder;
  background-image: url(../images/DSC00270.png);
  @include bg-images;
}
.section-four-content-holder{
  @include middle;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.section-four-primary{
  @include column;
  flex-direction: column;
  color: $secon-font-color;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px $secon-font-color;
  background-color: $font-color;
}
.sliders{
  position: relative;
  z-index: -10;
  top: -249px;
  left: 3px;
  height: 200px;
  background-color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
.sub{
  height: 300px;
  margin: 0px;


}
.menu-icon{
  display: none;
}
