$primary-font-color: #ffffff;
$black: #000000;
$hover: #446CB3;

@mixin button {
  width: 150px;
  height: 40px;
  border: 3px solid $primary-font-color;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: transparent;
  color: $primary-font-color;
  font-weight: bold;
  transition: 500ms;
}
.learn-more-btn{
  @include button;
  &:hover{
    background-color: $primary-font-color;
    color: $black;
    cursor: pointer;
    border: 3px solid $black;
  }
}
.section-four-btn{
  @include button;
  border: 3px solid $black;
  color: $black;
  &:hover{
    background-color: $hover;
    color: $primary-font-color;
    border: 3px solid $primary-font-color;

  }
}
