$primary-font-color: #ffffff;
$heading-color: #446CB3;

@mixin main-headings{
  font-size: 50px;
  font-weight: bold;
  color: $primary-font-color;
  text-align: center;
}
@mixin description{
  font-size: 24px;
  color: $primary-font-color;
  text-align: center;
  font-weight: bold;
}

.section-one-tropic{
  @include main-headings;
}
.section-one-dis{
  @include description;
}
.section-two-header{
  @include main-headings;
}
.section-three-header{
  @include main-headings;
  color: $heading-color;
}
.section-four-header{
  @include main-headings;
  color: $heading-color;
}
.section-four-sub-headings{
  font-size: 25px;
  color: $heading-color;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
.section-four-des{
  font-size: 20px;
}
.legal{
  transform: translateY(130%);
}
