$black: #000000;
$white: #ffffff;

.logo{
  width: 330px;
  height: 50px;
  transform: translateY(35%);
  transition: 500ms;

}
.section-two-images{
  width: 100px;
  height: 100px;
}
.section-three-img{
  width:90%;
  height: 200px;
  margin: 20px;
  box-shadow: 3px 3px 10px $black;
  border: 10px solid $white;


}
.section-four-images{
  margin-top: 20px;
  width: 90%;
}
.logo-footer{
  width: 300px;
  transform: translateY(40%);
}
