.learn-more-btn {
  width: 150px;
  height: 40px;
  border: 3px solid #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  transition: 500ms; }
  .learn-more-btn:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: 3px solid #000000; }

.section-four-btn {
  width: 150px;
  height: 40px;
  border: 3px solid #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  transition: 500ms;
  border: 3px solid #000000;
  color: #000000; }
  .section-four-btn:hover {
    background-color: #446CB3;
    color: #ffffff;
    border: 3px solid #ffffff; }

.section-one-tropic {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

.section-one-dis {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: bold; }

.section-two-header {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

.section-three-header {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #446CB3; }

.section-four-header {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #446CB3; }

.section-four-sub-headings {
  font-size: 25px;
  color: #446CB3;
  margin: 0px;
  padding: 0px;
  margin-top: 10px; }

.section-four-des {
  font-size: 20px; }

.legal {
  transform: translateY(130%); }

.logo {
  width: 330px;
  height: 50px;
  transform: translateY(35%);
  transition: 500ms; }

.section-two-images {
  width: 100px;
  height: 100px; }

.section-three-img {
  width: 90%;
  height: 200px;
  margin: 20px;
  box-shadow: 3px 3px 10px #000000;
  border: 10px solid #ffffff; }

.section-four-images {
  margin-top: 20px;
  width: 90%; }

.logo-footer {
  width: 300px;
  transform: translateY(40%); }

body {
  margin: 0px;
  padding: 0px; }

.holder-one {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  background-image: url(../images/wall.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-position: center;
  background-color: #ecc22c;
  background-blend-mode: multiply; }

.part-two-of-section {
  width: 90%;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.holder-two {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  background-color: #446cb3; }

.section-two-content-holder {
  width: 90%;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px; }

.primary, .secondary, .third {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; }

.holder-three {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  background-image: url(../images/DSC00270.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.section-three-content-holder {
  width: 90%;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px; }

.primary-img-holder {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  flex-direction: column; }

.secondary-img-holder {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  flex-direction: column; }

.holder-four {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  background-image: url(../images/DSC00270.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.section-four-content-holder {
  width: 90%;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px; }

.section-four-primary {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  color: #000000;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px #000000;
  background-color: #ffffff; }

.sliders {
  position: relative;
  z-index: -10;
  top: -249px;
  left: 3px;
  height: 200px;
  background-color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.sub {
  height: 300px;
  margin: 0px; }

.menu-icon {
  display: none; }

.footer {
  width: 100%;
  height: 80px;
  background-color: #446cb3; }

.footer-content-holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #ffffff; }

.page-header {
  width: 90%;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  transition: 1500ms; }

.nav-menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  transform: translateY(50%); }
  .nav-menu li {
    list-style-type: none;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  .nav-menu a {
    text-decoration: none;
    color: #ffffff; }

.nav-menu-res {
  margin: 0px;
  padding: 30px;
  display: flex;
  order: 2;
  align-items: center;
  flex-direction: column;
  transform: translateY(50%);
  background-color: #446CB3;
  display: none; }
  .nav-menu-res li {
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 40px; }
  .nav-menu-res a {
    text-decoration: none;
    color: #ffffff; }

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #446CB3;
  transition: 1500ms;
  left: 0; }

.nav-placeholder {
  margin-bottom: 40px; }

#myNav {
  display: none; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media (max-width: 1150px) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: stretch; }

  .logo {
    width: 200px;
    height: 40px; }

  .nav-menu li {
    font-size: 18px;
    width: 80px; } }
@media (max-width: 900px) {
  .section-two-content-holder {
    display: flex;
    flex-direction: column; } }
@media (max-width: 1122px) {
  .section-four-content-holder {
    display: flex;
    flex-direction: column; }

  .section-four-primary {
    background-color: transparent; }

  .section-four-images {
    width: 30%; }

  .footer {
    height: auto; }

  .footer-content-holder {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .legal, .logo-footer {
    transform: translateY(0); }

  .logo-footer {
    width: 200px;
    height: 40px; } }
@media (max-width: 870px) {
  .section-one-tropic, .section-two-header, .section-three-header, .section-four-header {
    font-size: 33px; }

  .nav-menu {
    display: none; }

  #myNav {
    display: block; }

  .menu-icon {
    display: block;
    width: 5%;
    margin-right: 20px;
    order: 3; }

  .logo-footer {
    width: 100px;
    height: 20px; }

  .legal {
    font-size: 14px;
    text-align: center; }

  .section-four-images {
    width: 50%; } }
@media (max-width: 500px) {
  .page-header {
    align-items: stretch; }

  .logo {
    position: relative;
    top: 8px;
    width: 150px;
    height: 30px; }

  .menu-icon {
    width: 10%; }

  .section-four-images {
    width: 80%; } }
@media (max-width: 400px) {
  .menu-icon {
    width: 10%; } }
.bg-fix {
  background-position: top; }

/*# sourceMappingURL=main.css.map */
